<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="./css/style.css">
 -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">

  <style>
    body {
      font-family: 'Dosis', sans-serif;
      background-color: rgba(66, 93, 169, 0.92);
      border-radius: 4px;
      /*margin: 0 auto;
     width: 680px;*/
    }

    a {
      color: #eee;
    }

    p {
      font-size: 23px;
    }

    .navbar {
      background-color: rgba(252, 248, 227, 0.28);
      height: 100px;
    }

    .navbar-brand>img {
      height: 80px;
    }

    .container {
      margin: 0 auto;
      border-radius: 4px;
      margin-top: 50px;
      padding: 20px;
      background: rgba(213, 213, 213, 0.23);
    }
    /*  .clearfix:after {
   content: "";
   display: table;
   clear: both;
 }*/

    .title {
      color: #ffffff;
    }

    .about {
      margin: 40px;
    }

    .about-text {
      color: #ffffff;
    }

    .people {
      background-color: rgba(252, 248, 227, 0.28);
      border: 1pc #0000000;
      border-radius: 4px;
      margin-top: 60px;
      overflow: auto;
      padding: 20px;
    }

    #people {
      color: #ffffff;
      text-align: center;
    }

    .people-say {
      color: #ffffff;
      font-style: italic;
      width:
    }

    #testi1 {
      width: 40%;
      float: left;
    }

    #testi2 {
      width: 40%;
      float: right;
    }
    .user {
      margin: 0 auto;
      width: 600px;
      background: red;
    }

    .content {
    float: right;
    }
  img{
      float: left;
      border-radius: 50%;
	    width: 200px;
	    height: 200px;
    }
  </style>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#"><img class="navbar-brand" src="static/img/logoblue.png" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="profile_show_case">Profiles</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#"><%= currentUser.username %></a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="user">
      <div>
          <img src="http://placehold.it/350x150" alt="user image">
      </div>
      <div class="content">
            <p>Name: <%= currentUser.username %> </p>
            <p>Languages: <%= currentUser.languages %></p>
            <p>Profession: <%= currentUser.profession %> </p>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>
